[Desktop Entry]
Version=1.0
Name=Roulettecoin Core
Comment=Connect to the Roulettecoin P2P Network
Comment[de]=Verbinde mit dem Roulettecoin peer-to-peer Netzwerk
Comment[fr]=Roulettecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Roulettecoin, eşten eşe kriptografik sanal para birimi
Exec=roulettecoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/bitcoin;
Categories=Office;Finance;
StartupWMClass=Roulettecoin-qt
